/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, app.scss */
body {
  background-color: #2c3942;
  font-family: 'Roboto', sans-serif;
}

/* line 10, app.scss */
header {
  display: grid;
  height: 100px;
  background-color: #ff4747;
  grid-template-columns: repeat(3, 1fr);
}
/* line 16, app.scss */
header h1 {
  font-size: 35px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}
/* line 25, app.scss */
header #searchBar {
  display: flex;
  align-items: center;
}
/* line 30, app.scss */
header #searchBar #search {
  font-size: 35px;
  color: #ff4747;
  width: 500px;
  height: 30px;
}
/* line 37, app.scss */
header #searchBar #searchIcon {
  margin-right: 2px;
}
/* line 41, app.scss */
header #searchBar #searchIconClean {
  visibility: hidden;
  margin-left: -20px;
}
/* line 47, app.scss */
header a {
  text-decoration: none;
  color: #fff;
}
/* line 52, app.scss */
header a:hover {
  border-bottom: #fff 1px solid;
}
/* line 57, app.scss */
header ul {
  justify-content: center;
  display: flex;
  align-items: center;
}
/* line 63, app.scss */
header ul li {
  font-size: 25px;
}

/* line 70, app.scss */
main #response {
  display: flex;
  justify-content: center;
}
/* line 75, app.scss */
main #loader {
  visibility: hidden;
  margin-top: 10px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 99, app.scss */
#favorited,
#result {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* line 107, app.scss */
.gif {
  margin: 10px;
  width: 25%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}
/* line 116, app.scss */
.gif img {
  width: 100%;
}

/* line 121, app.scss */
.show {
  display: block;
}

/* line 125, app.scss */
.btnSearch {
  cursor: pointer;
  width: 36px;
  height: 36px;
}

/* line 131, app.scss */
.fa-search,
.fa-star {
  color: #ff4747;
}

/* line 136, app.scss */
.fa-star {
  margin-top: 10px;
  position: absolute;
  cursor: pointer;
  width: 5px;
  height: 5px;
  top: 0;
  right: 0;
  padding-right: 15px;
}

/* line 148, app.scss */
.selected {
  color: #000;
}

/* line 153, app.scss */
#numberItems {
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}
