@import "./reset.scss";
$background: #2c3942;
$header: #ff4747;

body {
  background-color: $background;
  font-family: 'Roboto', sans-serif;
}

header{
  height: 100px;
  background-color: $header;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  h1{
    font-size: 35px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
  }

  form {
    display: flex;
    align-items: center;

    span{
      cursor: pointer;
      margin-left: -20px;
    }
  }

  button {
    cursor: pointer;
    width: 36px;
    height: 36px;
  }

  input {
    font-size: 35px;
    color: $header;
    width: 500px;
    height:30px;
  }

  ul {

    display: flex;
    justify-content: center;
    align-items: center;


    li{
      font-size: 25px;
    }
    a{
      text-decoration: none;
      cursor:pointer;
      color:#fff;

      &:hover{
        border-bottom: #fff 1px solid;
      }
    }
  }
}

.result, .favorited {
  display: flex;
  flex-flow: wrap row;
  width:900px;
  margin-left: auto;
  margin-right: auto;

  img{
    padding:10px;
  }

  span{
    position: absolute;
    right: 14px;
    top:14px;
  }
}

.searchIcon {
  margin-right: 2px;
}

.fa-search, .fa-star {
  color: $header;
}

.selected {
  background-color: #000;
}

.fa-star {
  cursor: pointer;
}

.hide {
    visibility: hidden;
}

.numberItems {
  margin-top: 10px;
  color:#fff;
  margin-bottom: 10px;
  text-align: center;
}

  .response {
    display: flex;
    justify-content: center;
  }

  .gifContainer {
    position: relative;
  }

  .loader {
    margin-top: 10px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
