@import "./reset.scss";
$background: #2c3942;
$header: #ff4747;

body {
  background-color: $background;
  font-family: 'Roboto', sans-serif;
}

header{
  height: 100px;
  background-color: $header;
  display: flex;
  align-items: center;

  h1{
    font-size: 35px;
    flex: 1;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
  }

  .menu {
    flex: 1;
  }

  form {
    display: flex;
    align-items: center;
    position: relative;
    height: 36px;

    .button-clear {
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 8px;
    }
  }

  button {
    cursor: pointer;
    width: 36px;
    height: 36px;
  }

  input {
    font-size: 25px;
    color: $header;
    width: 500px;
    height:36px;
  }

  ul {

    display: flex;
    justify-content: center;
    align-items: center;

    li{
      font-size: 25px;
    }
    a{
      text-decoration: none;
      cursor:pointer;
      color:#fff;

      &:hover{
        border-bottom: #fff 1px solid;
      }
    }
  }
}

.result, .favorited {
  display: flex;
  flex-flow: wrap row;

  img{
    padding:10px;
  }

  .loaderImage{
    position: absolute;
    top:40%;
    left:45%;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 40px;
      height: 40px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
  
      100% {
        transform: rotate(360deg);
      }
    }

  span{
    cursor: pointer;
    position: absolute;
    right: 14px;
    top:14px;
  }
}

.searchIcon {
  margin-right: 2px;
}

.fa-search, .fa-star {
  color: black;
}

.selected {
  color: $header;
}

.fa-star {
  cursor: pointer;
}

.hide {
    visibility: hidden;
}

.numberItems {
  margin-top: 10px;
  color:#fff;
  margin-bottom: 10px;
  text-align: center;
}

  .response {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:10px;
    left:0;
    right:0;
  }

  .gifContainer {
    display: flex;
    position: relative; 
  }

  .loader {
    margin-top: 10px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  .loaderBackground {
    background-size: contain;
    margin-top: 10px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }


  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
